.next-overlay-wrapper .next-overlay-inner.view-pane-popup {
  padding: 6px 0;
  background: var(--color-pane-background, #fff);
  box-shadow: 0 0 6px 0 var(--color-layer-mask-background, rgba(0,0,0,0.44));
  border-radius: 2px;

  &::after {
    display: none;
  }
}

.add-file-icon-wrap {
  cursor: pointer;
  color: var(--color-title);
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
