.next-overlay-wrapper .next-overlay-inner.view-pane-popup {
  padding: 6px 0;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.44);
  border-radius: 2px;

  &::after {
    display: none;
  }

  .view-pane-popup-item {
    width: 130px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-fill1-2, #f1f3f6);
    }
  }
}
